body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #404040;
}

a {
  color: #007a8f;
}

abbr {
  &, &[title] {
    text-decoration: none;
  }

  &:after {
    margin-left: -0.2em;
    content: ' (' attr(title) ')';
    color: gray;
    font-size: smaller;
    font-weight: normal;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote > p:last-child {
  cite:only-child { display: block; margin-top: 1em; }
  cite:before { content: '\2014'; } // em dash
  cite:lang(ko):before { content: '\2014\3008'; } // em dash and opening bracket
}

table {
  border-collapse: collapse;

  th, td {
    border: 1px solid #ccc;
    padding: 0.5em;

    &:has(> strong:only-child) {
      background-color: #eee;
    }
  }
}

code {
  font-size: 90%;
}

:not(pre) > code {
  padding: 2px 4px;
  background-color: #eeeeee;
}

dfn:lang(ko) {
  font-style: normal;
  font-weight: bolder;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
}

pre,
code {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

cite:lang(ko)        { font-style: normal; }
cite:lang(ko):before { content: '\3008'; }
cite:lang(ko):after  { content: '\3009'; }

figure {
  margin: 0;
  text-align: center;
}
figcaption {
  font-size: small;
  color: #666;
  word-break: keep-all;
}
figcaption :first-child {
  margin-top: 0;
}

#main h1#site-title {
  background-image: url(../logo.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 25px;
  padding-left: 32px;
}
body > #site-title {
  background-image: url(../logo.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 18px;
  padding-left: 22px;
}

article > .dim {
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

article .footnotes {
  font-size: smaller;

  > hr {
    border: none;
    border-top: 1px solid silver;
    max-width: 10%;
    margin: 0;
  }

  > ol {
    padding-left: 1em;

    > li {
      margin-top: 0.5em;

      p:first-of-type { margin-top: 0; }
      p:last-of-type { margin-bottom: 0; }
    }
  }
}

.lh-copy {
  line-height: 1.75;
}

.recruit {
  line-height: 1.8;
  background-color: #f4f6f6;
  padding: 1em;
  border-radius: 0.3em;
  margin-bottom: 1.5em;
}
