<link
  rel="stylesheet"
  href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
/>

{{ $scss := resources.Get "scss/style.scss" }}
{{ $preprocessedScss := $scss | resources.ExecuteAsTemplate "css/style.css" . }}
{{ $css := $preprocessedScss | toCSS | minify | fingerprint }}
<link
  rel="stylesheet" href="{{ $css.Permalink }}"
  integrity="{{ $css.Data.Integrity }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132504786-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132504786-2');
</script>

{{ template "_internal/google_analytics_async.html" . }}
