name: Publish
on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.88.1'
        extended: true
    - uses: actions/checkout@master
    - name: snack-og-image
      uses: ./.github/actions/snack-og-image
    - name: CNAME settings
      run: |
        if [[ "${{ secrets.CNAME }}" != "" ]]; then
          echo "${{ secrets.CNAME }}" > static/CNAME
          base_url="https://${{ secrets.CNAME }}/"
        else
          github_user="${GITHUB_REPOSITORY%/*}"
          github_repo="${GITHUB_REPOSITORY#*/}"
          if [[ "$github_repo" = "$github_user.github.io" ||
                "$github_repo" = "$github_user.github.com" ]]; then
            base_url="https://$github_user.github.io/"
          else
            base_url="https://$github_user.github.io/$github_repo/"
          fi
        fi
        sed \
          --regexp-extended \
          --in-place \
          's|(baseURL\s*=\s*")http?s://[^"]+(")|\1'"$base_url"'\2|' \
          config.toml
    - run: hugo --minify
    - uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        public_dir: ./public
